body {
  font-family: "Inter 28pt";
  font-size: 17px;
  color: #253858;
  overflow-x: hidden;

}
li {
  list-style: none;
}
input,
textarea,
select {
  font-family: "Inter24pt-Regular";
  font-weight: 500;
}
@font-face {
  font-family: "Inter18pt-Black";
  src: url("font/Inter18pt-Black.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter18pt-Bold";
  src: url("font/Inter18pt-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter18pt-ExtraBold";
  src: url("font/Inter18pt-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter18pt-Light";
  src: url("font/Inter18pt-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter18pt-Medium";
  src: url("font/Inter18pt-Medium.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter18pt-SemiBold";
  src: url("font/Inter18pt-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter24pt-Regular";
  src: url("font/Inter24pt-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 24pt";
  src: url("font/Inter24pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
a {
  color: #253858;
  text-decoration: none;
}
a:hover,
.submit:hover {          
  opacity: 0.85;
}
.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

#header {
  width: 100%;
  height: 70px;
  display: flex;
}
#header div {
  display: flex;
  align-items: center;
}
#header div div.left {
  width: 30%;
  display: flex;
  align-items: center;
}
#header div div.left a {
  width: 31px;
}
#header div div.left a img {
  width: 100%;
  display: block;
}
#header div .left span {
  color: #334155;
  font-size: 18px;
  display: block;
}
#header div nav {
  width: 70%;
}
#header div nav ul {
  display: flex;
  justify-content: end;
}
#header div nav ul li {
  margin-right: 1%;
  list-style: none;
}
#header div nav ul li a {
  text-decoration: none;
  border: 2px solid #334155;
  padding: 10px 20px;
}
#header div nav ul li:nth-child(3) a {
  background-color: #334155;
  color: #ffffff;
  font-weight: 700;
}
.line{
   width: 100%;
   height: 1px;
   background-color:#E2E8F0;
   
}


#spotlight {
  padding-top: 40px;
  padding-bottom: 60px;
}
#spotlight .spotlight-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#spotlight .spotlight-content .spotlight-left {
  width: 50%;
}
#spotlight .spotlight-content .spotlight-left h1 {
    color: #0F172A;
    font-size: 40px;
    width: 63%;
    margin-bottom: 16px;
}
#spotlight .spotlight-content .spotlight-left p {
    color: #334155;
    font-size: 16px;
    width: 80%;
    margin-bottom: 24px;
}
#spotlight .spotlight-content .spotlight-left button {
    background-color: #3B82F6;
    padding: 10px 24px;
    border: #3B82F6;
    color: #ffff;
    border-radius: 8px;
}
#spotlight .spotlight-content .spotlight-right {
  width: 50%;
}
#spotlight .spotlight-content .spotlight-right .img-container {
  width: 74%;
  margin: auto;
}
#spotlight .spotlight-content .spotlight-right img {
  display: block;
  width: 100%;
}


#status {
  background: #f8fafc; 
 margin-bottom: 60px;
}
#status .status-content {
}
#status .status-content ul {
  display: flex;
  justify-content: space-between;
}
#status .status-content ul li {
    text-align: center;
}
#status .status-content ul li h1 {
    font-size: 32px;
    color: #0F172A;
    margin-bottom: 6px;
}
#status .status-content ul li p {
    font-size:14px ;
    color: #0F172A;
}
#status .status-content ul .statusline{
    border: 2px solid #E2E8F0;
    height: 57px;
    margin: auto;
}

#middle {
  margin-bottom: 24px;
}
#middle .wrapper {
  width: 100%;
}
#middle .wrapper div.one {
  width: 100%;
  display: flex;
  flex: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#middle .wrapper div.one h1 {
  font-size: 20px;
  margin-top: 30px;
}
#middle .wrapper div.two {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
#middle .wrapper div.one a {
  text-decoration: none;
  color: blue;
}
#middle .wrapper div.two ul {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  width: 260px;
  height: 240px;
  border-radius: 10px;
  list-style: none;
}
#middle .wrapper div.two ul li {
  margin-top: 30px;
  margin-left: 25%;
  width: 99px;
  height: 92px;
  border-radius: 50px;
  background: #e0f2fe;
}
#middle .wrapper div.two ul li img {
  margin-top: 30px;
}
#middle .wrapper div.two ul h2 {
  margin-top: 15px;
  margin-left: -30px;
}
#middle .wrapper div.two ul p {
  margin-top: 10px;
  margin-left: -35px;
}
#Courses {
  margin-bottom: 24px;  
}
#Courses .wrapper {
  width: 100%;
}
#Courses .wrapper .one {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#Courses .wrapper .one h1 {
  font-size: 20px;
}
#Courses .wrapper .one a {
  text-decoration: none;
  color: blue;
}
#Courses .wrapper .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
#Courses .wrapper .container .box {
  width: 20%;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  width: 290px;
  height: 300px;
  border-radius: 10px;
}
#Courses .wrapper .container .box img {
}
#Courses .wrapper .container .box h3 {
  font-size: 18px;
  margin-top: 8px;
  margin-left: -20%;
}
#Courses .wrapper .container .box h6 {
  margin-top: -11px;
  font-weight: 300;
  font-size: 15px;
  margin-left: -50%;
}
#Courses .wrapper .container .box ul {
  display: flex;
  justify-items: left;
  margin-left: -10%;
}
#Courses .wrapper .container .box ul li {
  list-style: none;
  margin-top: -13%;
  margin-right: 2px;
}
#Courses .wrapper .container .box img {
  margin-top: 12px;
}
#Courses .wrapper .container .box ul li.li-text {
  font-size: 14px;
  padding-top: 12px;
}
#Courses .wrapper .container .box ul li img {
  width: 15px;
}
#Courses .wrapper .container .box p {
  margin-top: -21px;
  font-size: 14px;
  margin-left: -15%;
}
#Courses .wrapper .container .box h5 {
  margin-top: -1%;
  margin-left: -72%;
  font-size: 22px;
}
#Instructors {
}
#Instructors .wrapper {
  width: 100%;
  height: 520px;
}
#Instructors .wrapper .one {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#Instructors .wrapper .one h1 {
  font-size: 20px;
}
#Instructors .wrapper .one a {
  text-decoration: none;
  color: blue;
}
#Instructors .wrapper .container {
  display: flex;
  justify-content: space-between;
}
#Instructors .wrapper .container .box {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 10px;
}
#Instructors .wrapper .container .box .imgbox {
   width: 86%; 
   margin: 0 auto;
   padding: 16px 16px;
   margin-bottom: 16px;
}
#Instructors .wrapper .container .box img {
  display: block;
  width: 100%;
}
#Instructors .wrapper .container .box h2 {
  font-size: 18px;
  color: #0F172A;
  text-align: center;
}
#Instructors .wrapper .container .box h6 {
  color: #334155;
  font-size: 14px;
  text-align: center;
}
#Instructors .wrapper .container .box span {
  display: block;
  width: 179px;
  height: 0px;
  margin: 0px 25px;
  border: 1px solid #e2e8f0;
}
#Instructors .wrapper .container .box .star {
  display: flex;
  justify-content: space-between;
}
#Instructors .wrapper .container .box .star img {
  margin-top: 11px;
  margin-left: 21px;
  width: 22px;
  height: 34px;
}

#Instructors .wrapper .container .box .star p {
  margin-left: -26%;
  font-size: 15px;
  padding-top: 6px;
  color: #0f172a;
}
#Instructors .wrapper .container .box .star h6 {
  margin-top: 21px;
  margin-right: 23px;
  font-size: 12px;
}

/* <!--customer--> */

#Customer {
    background: #f8fafc;
}
#Customer .wrapper .top {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Customer .wrapper .top .left {
  width: 50%;
}
#Customer .wrapper .top .right {
  width: 50%;
  text-align: right;
}
#Customer .wrapper .top .right a {
}
#Customer .wrapper .top .right a img {
  width: 15px;
  height: 15px;
  padding: 10px 20px;
  background-color: #94a3b8;
  margin-left: 25px;
  border-radius: 10px;
}
#Customer .wrapper .top .right a img.left {
  margin-right: 30px;
}
#Customer .wrapper .container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
#Customer .wrapper .container .box {
  border: 1px solid #E2E8F0;
  box-shadow: 0px 0px 8px 0px #3b82f61f;
  width: 28%;
  height: 275px;
  border-radius: 25px;
  background-color: #ffffff;
  padding: 24px 24px;

}
#Customer .wrapper .container h1 {
}
#Customer .wrapper .container h1 img {

}
#Customer .wrapper .container p {
  line-height: 25.6px;
}
#Customer .wrapper .container .classbox .img_container {
    width: 60px
}
#Customer .wrapper .container .classbox .img_container img {
    width: 100%;
    display: block;
    border-radius: 50%;
}
#Customer .wrapper .container .classbox{
    display: flex;
}
#Customer .wrapper .container .box .cla425pxssbox h3{
  padding-left: 2%;
  margin-top: 1%;
}
#Customer .wrapper .container .box .classbox h6 {
    margin-top: 8%;
    margin-left: -21%;
}

#last {
  height: 950px;
}
#last .wrapper {
  width: 100%;
  height: 400px;
  margin: 0px auto;
}
#last .wrapper .container {
  height: 106vh;
}
#last .wrapper .container .left {
  height: 440px;
  display: flex;
  align-items: center;
}
#last .wrapper .container .left .img-container {
  width: 40%;
  margin-top: 90px;
}
#last .wrapper .container .left .img-container img {
  width: 400px;
  height: 425px;
  padding-left: 52%;
}
#last .wrapper .container .left .box-2 {
  width: 50%;
  justify-content: center;
  padding-left: 180px;
}
#last .wrapper .container .left .box-2 h4 {
  padding-top: 118px;
  font-size: 24px;
  font-weight: 800;
}
#last .wrapper .container .left .box-2 p {
  line-height: 25.6px;
  margin-top: -20px;
  padding-right: 26%;
}
#last .wrapper .container .left .box-2 a {
  text-decoration: none;
  border: 2px solid #020617;
  padding: 10px 20px;
  background: #020617;
  color: #ffffff;
  border-radius: 5px;
}
#last .wrapper .container .left .box-2 a img {
}
#last .wrapper .container .right {
  height: 440px;
  display: flex;
  align-items: center;
}
#last .wrapper .container .right .img-container {
  width: 40%;
  margin-top: 90px;
}
#last .wrapper .container .right .img-container img {
  width: 472px;
  height: 385px;
}
#last .wrapper .container .right .box-2 {
  width: 50%;
  justify-content: center;
  padding-left: 180px;
}
#last .wrapper .container .right .box-2 h4 {
  padding-top: 118px;
  font-size: 24px;
  font-weight: 800;
}
#last .wrapper .container .right .box-2 p {
  line-height: 25.6px;
  margin-top: -20px;
  padding-right: 26%;
}
#last .wrapper .container .right .box-2 a {
  text-decoration: none;
  border: 2px solid #020617;
  padding: 10px 20px;
  background: #020617;
  color: #ffffff;
  border-radius: 5px;
}

footer {
  margin: 0%;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e293b;
}
footer a,li {
  color: #CBD5E1;
  margin-bottom: 8px;
}
footer .h1 {
  font-weight: bold;
  color: #ffffff;
}
.footer{
  display: flex;
  justify-content: space-between;
  width: 1280px;
  height: 183px;
}
footer .left {

}
footer .left p {

}
footer .meddle {

}
footer .meddle ul {

}
footer .meddle ul li {

}
footer .meddle ul li a {

}
footer .second-meddle {

}
footer .second-meddle ul {

}
footer .second-meddle ul li {

}
footer .second-meddle ul li a {

}
footer .Contact_us {

}
footer .Contact_us ul {

}
footer .Contact_us ul li {

}
footer .Contact_us ul li a {

}
footer .second-meddle ul li ul{

}
footer .second-meddle ul li ul li{

}
footer .second-meddle ul li ul li a{
  padding: 5px 10px;
  color: #3B82F6;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
  rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  
}
footer .second-meddle ul li ul li a img{

}
ul.brands {
  margin-top: 20px;
  padding: 0;
  width: 300px;
}

ul.brands li a img {
  width: 296px;
  height: 40px;
}

footer .second-meddle ul li ul li a {
  padding: 5px 10px;
  color: #3b82f6;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
